<<<<<<< HEAD
.title {
  background: #4b6cb7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  font-family: 'Courgette', cursive;
}
.container {
  margin: 20px;
  border: solid #ddd;
  border-width: 10px;
  width: 45%;
  font-family: 'Maven Pro', sans-serif;
}

.inputBox {
  width: 100%;
  margin: 20px 20px 20px 0px;
}

input {
  width:100%;
}

#submit {
  margin: 0px 0px 20px 0px;
  color: white;
  background: -webkit-linear-gradient(to bottom, #182848, #005EB8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #182848, #005EB8);
}

#userPhoto {
  border-radius: 50px;
  margin-left: 15px;
  width: 70%;
}
#userContainer {
  margin: 20px;
  padding: 10px;
=======
body {
  font-family: Tahoma, sans-serif;
  margin: 0;
}

.ContactView-title {
  font-size: 24px;
  padding: 0 24px;
}

.ContactView-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #f0f0f0;
}

.ContactItem {
  margin: 0;
  padding: 8px 24px;
  border-bottom: 1px solid #f0f0f0;
}
.ContactItem-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.ContactItem-email {
  font-size: 14px;
  margin-top: 4px;
  font-style: italic;
  color: #888;
}
.ContactItem-description {
  font-size: 14px;
  margin-top: 4px;
}


.ContactForm {
  padding: 8px 24px;
}
.ContactForm > input,
.ContactForm > textarea {
  display: block;
  width: 240px;
  padding: 4px 8px;
  margin-bottom: 8px;
  border-radius: 3px;
  border: 1px solid #888;
  font-size: 14px;
>>>>>>> e76b342d70d28d5fbd9ebeefdc58a41f46897875
}